[run]
# Run pytest to generate coverage
command_line = -m pytest

# Only run coverage inside the kusanagi folder
include = kusanagi/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Ignore the blocks that import the modules for type checking
    if TYPE_CHECKING:
