[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.0"
msgpack-python = "==0.5.6"
pyzmq = "==17.1.2"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
pylint = "*"
pylama = "*"
coverage = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"
